body {
  background-color: silver;
}

.header {
  height: 200px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 5px solid white;
}

h1 {
  color: white;
}

.main {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
}

.form_tag {
  margin-top: 40px;
}

.submit {
  border-radius: 5px;
}