@media screen and ( max-width:479px )
{
  body {
    width: 200px;
  }

  .header {
    width: 200px;
    height: 150px;
  }

  .menubar {
    width: 55px;
    height: 100px;
    margin-right: 70px;
    display: block;
  }

  .menu1 {
    width: 30px;
    height: 25px;
    margin-left: 12px;
    margin-top: 7px;
  }

  .menu2 {
    width: 30px;
    height: 25px;
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .menu3 {
    width: 30px;
    height: 25px;
    margin-left: 12px;
    margin-top: 5px;
  }

  .main {
    display: block;
  }

  .main1 {
    width: 200px;
    height: 100px;
  }

  .main2 {
    width: 200px;
  }

  .boxs {
    margin-left: 30px;
    margin-top: 20px;
  }

  .box1 {
    width: 130px;
  }

  .box2 {
    width: 130px;
  }

  .box3 {
    width: 130px;
  }

  .footer {
    width: 200px;
  }

}